/* Enforce no text selection on all elements */
* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard syntax */
    cursor: default;           /* Enforce the regular cursor */
}

/* Ensure that pseudo-elements also inherit these properties */
*::before,
*::after {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard syntax */
    cursor: default;           /* Enforce the regular cursor */
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    /* boxmodel properties */
    margin: 0;
    /* properties as parent */
    display: flex;
}

    .board-container {
        background-color: red;
        /* boxmodel properties */
        box-sizing: border-box; /* margin (excluded) border padding content (included) */
        min-height: 400px;
        /* properties as child */
        flex-grow: 1;
        /* properties as parent */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hand-container {
        background-color: green;
        /* boxmodel properties */
        box-sizing: border-box; /* margin (excluded) border padding content (included) */
        min-height: 400px;
        border: 5px solid black;
        /* properties as child */
        /* properties as parent */
        display: flex;
        flex-direction: column;
    }

        .hand-container .card {
            /* properties as child */
            flex-basis: 10%;
        }

    .row {
        /* properties as child */
        /* boxmodel properties */
        box-sizing: border-box; /* margin (excluded) border padding content (included) */
        min-height: 100px;
        min-width: 510px;
        border: 5px solid black;
        /* properties as parent */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

        .row .card {
            /* properties as child */
            flex-basis: 12%;
            height: 90px;
            width: 60px;
        }

        .row h2 {
            flex-basis: 16%;
            font-size: 1.5em;
            border: 1px solid green;
        }

/* general styles */

.card {
    /* properties as parent */
    background-color: antiquewhite;
}

.card:hover {
    opacity: 0.9;
}

.player-one {
    display: flex;/* Green for Player One */
}

.player-two {
    display: flex;/* Orange for Player Two */
}

button {
    cursor: pointer;
}

.highlight {
    border: 2px solid rgb(255, 215, 0);
}
