/* Enforce no text selection on all elements */
* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard syntax */
    cursor: default;           /* Enforce the regular cursor */
}

/* Ensure that pseudo-elements also inherit these properties */
*::before,
*::after {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard syntax */
    cursor: default;           /* Enforce the regular cursor */
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: rgb(147, 71, 26);
    /* boxmodel properties */
    margin: 0;
    /* properties as parent */
    display: flex;
}

    .board-container {
        /* boxmodel properties */
        box-sizing: border-box; /* margin (excluded) border padding content (included) */
        min-height: 400px;
        /* properties as child */
        flex-grow: 1;
        /* properties as parent */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hand-container {
        /* boxmodel properties */
        box-sizing: border-box; /* margin (excluded) border padding content (included) */
        min-height: 400px;
        min-width: 120px;
        border: 5px solid rgb(147, 71, 26);
        /* properties as child */
        /* properties as parent */
        display: flex;
        flex-direction: column;
    }
        .hand-container h2 {
            font-size: 0.8em;
            flex-basis: 3%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .hand-container .hand-cards {
            flex-basis: 92%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        .hand-container .hand-cards .card {
            font-size: 0.1em;
            flex-basis: 10%;
            box-sizing: border-box;
            border: 1px solid black;
            border-radius: 5px;
            padding: 3px;
        }

        .hand-container button {
            flex-basis: 5%;
            border-radius: 1em;
        }

    .row {
        background-color: rgb(197, 194, 194);
        /* properties as child */
        /* boxmodel properties */
        box-sizing: border-box; /* margin (excluded) border padding content (included) */
        min-height: 100px;
        min-width: 510px;
        border: 5px solid rgb(147, 71, 26);
        /* properties as parent */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

        .row .card {
            height: 90px;
            width: 60px;
            font-size: 0.5em;
            /* boxmodel properties */
            box-sizing: border-box;
            border: 1px solid black;
            border-radius: 5px;
            padding: 3px;
            /* properties as child */
            flex-basis: 12%;
        }

        .row h2 {
            flex-basis: 16%;
            font-size: 1.5em;
        }

/* general styles */

.card {
    /* properties as parent */
    background-color: antiquewhite;
}

.card:hover {
    opacity: 0.9;
}

.player-one {
    display: flex;/* Green for Player One */
}

.player-two {
    display: flex;/* Orange for Player Two */
}

button {
    cursor: pointer;
}

.highlight {
    border: 2px solid rgb(255, 215, 0);
}
